
Proyecto/Acme-Handy-Worker/.classpath
Proyecto/Acme-Handy-Worker/target/classes/Entities.map
*.properties
Proyecto/Acme-Handy-Worker/.classpath
Proyecto/Acme-Handy-Worker/target/classes/Entities.map
Proyecto/Acme-Handy-Worker/target/m2e-wtp/web-resources/META-INF/maven/Acme.com/Acme-Handy-Worker/pom.properties
